{% extends 'base.html' %}
{% comment %} {% load bootstrap5 %} {% endcomment %}

{% block content %}
  <h1>MOVIES INDEX PAGE</h1>
  <hr>
  <!-- 최신, 인기, 오늘의 추천 영화 -->
  <h2>최신영화</h2>
  <ol>
    {% for latest_movie in latest_movies %}
      <li>
        </p>{{ latest_movie.original_title }}</p>
      </li>
    {% endfor %}
  </ol>

  <h2>인기영화</h2>
  <ol>
    {% for popular_movie in popular_movies %}
      <li>
        </p>{{ popular_movie.original_title }}</p>
      </li>
    {% endfor %}
  </ol>

  <h2>오늘의 추천 영화</h2>
  <ol>
    {% for today_movie in today_movies %}
      <li>
        </p>{{ today_movie.original_title }}</p>
      </li>
    {% endfor %}
  </ol>
{% endblock content %}