{% extends 'base.html' %}

{% block content %}
  <h1>review page</h1>
  {% for review in reviews %}
    <p>{{review.title}}</p>
    <p>{{review.created_at}}</p>
    <p>{{review.updated_at}}</p>
  {% endfor %}
{% endblock %}

{% comment %} {% extends 'base.html' %}

{% block content %}
  <!-- review 작성 -->
  {% if user.is_authenticated %}
    <a href="{% url 'community:review_create' %}">NEW</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">[새 글을 작성하려면 로그인하세요]</a>
  {% endif %}
  <h1>Community Page</h1>
  <!-- review 보이기 -->
  <hr>
  {% for review in reviews %}
    <h3>영화 : {{review.movie_title}}</h3>
    <a href="{% url 'community:review_detail' review.pk %}">[DETAIL]</a>
    <hr>
  {% endfor %}
{% endblock %} {% endcomment %}